# Clase 2

In [6]:
numero1= int(input('Dame un numero'))
numero2= int (input('Dame otro numero'))
print(f"Los numeros que me diste son {numero1} y {numero2} de los cuales:")

if numero1 < numero2:
    print(f'El {numero2} es el mayor')
elif numero2 < numero1:
    print(f'El {numero1} es el mayor')  
else:
    print("Ambos numeros son iguales")

Los numeros que me diste son 87 y 93 de los cuales:
El 93 es el mayor

# Listas

In [10]:
misfrutas= ["manzana", "platano", "pera"]
print(misfrutas)

['manzana', 'platano', 'pera']

In [18]:
misfrutas.append('naranja')

In [20]:
print(misfrutas)

['manzana', 'platano', 'pera', 'naranja']

In [23]:
misfrutas [0:2]

['manzana', 'platano']

In [25]:
misfrutas [1:4]

['platano', 'pera', 'naranja']

In [15]:
palabra= "El Castillo Vagabundo"

In [39]:
palabra [0:2]

'El'

In [40]:
palabra [3:11]

'Castillo'

In [42]:
palabra [12:23]

'Vagabundo'

In [30]:
mis_numeros =[78,545,345,2344,674,45,9876,234,78,23]

In [31]:
mis_numeros.sort()
print(mis_numeros)

[23, 45, 78, 78, 234, 345, 545, 674, 2344, 9876]

In [32]:
mis_numeros.sort(reverse=True)
print(mis_numeros)

[9876, 2344, 674, 545, 345, 234, 78, 78, 45, 23]

In [33]:
mis_numeros.reverse()
print(mis_numeros)

[23, 45, 78, 78, 234, 345, 545, 674, 2344, 9876]

In [28]:
mis_numeros.reverse()
print(mis_numeros)

[9876, 2344, 674, 545, 345, 234, 78, 76, 45, 23]

In [34]:
mis_numeros.count(78)

2

In [35]:
sum(mis_numeros)

14242

$$\frac{1}{2}\sum{i}^{n} x_i$$

# Sacamos el promedio:

In [43]:
sum(mis_numeros)/10

1424.2

In [44]:
len(mis_numeros)

10

In [45]:
sum(mis_numeros)/len(mis_numeros)

1424.2

In [46]:
print(min(mis_numeros))

23

In [47]:
print(max(mis_numeros))

9876